body {
    font-family: Arial, sans-serif;
}

.main {
    background-color: #fff;
    margin: 0 auto;
    padding: 45px 20px;
    min-height: calc(100vh - 190px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1280px;
}