.cart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__product {
        width: 100%;
        max-width: 40%;
        min-width: 355px;
        border: 1px solid #D1D1D1;
        border-radius: 12px;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
    }

    &__product-picture-box {
        padding-right: 10px;
    }

    &__product-picture {
        width: 100%;
        max-width: 200px;
        height: auto;
        max-height: 250px;
        object-fit: contain;
    }

    &__product-info {
        max-width: 250px;
    }

    &__product-desc {
        padding-bottom: 20px;
    }

    &__product-control {
        display: flex;
        flex-direction: column;
    }

    &__product-control-confirm {
        background-color: #6A983C;
        border: 2px solid #46760A;
        box-sizing: border-box;
        border-radius: 12px;;
        font-weight: bold;
        font-size: 15px;
        color: #FFFFFF;
        width: 144px;
        height: 37px;
        cursor: pointer;
        transition: .3s;
        margin-bottom: 7px;

        &:hover {
            background-color: #558029;
        }
    }

    &__product-control-delete {
        background-color: #dc3545;
        border: 2px solid #b90012;
        box-sizing: border-box;
        border-radius: 12px;
        font-weight: bold;
        font-size: 15px;
        color: #FFFFFF;
        width: 144px;
        height: 37px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #9d2f39;
        }
    }

    &__default-text {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}