.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto 40px;
}

.products-list {
    width: 100%;
}