.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);

    &__container {
        border-radius: 4px;
        background-color: #e74c3b;
        margin: auto;
        min-width: 450px;
        font-family: 'Roboto', sans-serif;
    }

    &__header {
        position: relative;
        background-color: #d44637;
        text-align: left;
        padding: 25px 30px;
    }

    &__header-title {
        color: #ffffff;
        font-weight: 700;
        font-size: 17px;
    }

    &__header-close {
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 22px;
        width: 32px;
        height: 25px;
        opacity: .7;
        transition: .3s;

        &:hover {
            opacity: 1;
        }

        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 25px;
            width: 2px;
            background-color: #fff;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }

    &__content {
        padding: 40px 15px 25px 15px;
    }

    &__content-text {
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    &__control {
        padding-bottom: 25px;
        text-align: center;
    }

    &__control-btn {
        width: 102px;
        background-color: #b3382b;
        color: #fff;
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        height: 40px;
        border-radius: 4px;
        margin: 0 5px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #ae3225;
        }
    }
}