.header {
    background-color: #F9F9F9;
    min-height: 90px;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    &__inner {
        width: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__logo-title {
        font-size: 22px;
        color: #151515;
        font-family: Arial, sans-serif;
        font-weight: 700;
        padding-left: 10px;
        margin: 0;
    }
}

.nav {
    display: flex;
    list-style: none;
    justify-content: center;

    &__item {
        padding: 0 20px;
    }

    &__item-link {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #151515;
        text-decoration: none;
        font-family: Arial, sans-serif;
    }
}