.button {
    border: 1px solid transparent;
    color: #FFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity .5s;
    &:hover {
        opacity: .8;
    }

    &--primary {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    &--secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }
}