.header {
    background-color: #F9F9F9;
    min-height: 90px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-family: Arial, sans-serif;

    &__nav {
        margin: 0 auto;
    }
}

.nav {
    display: flex;
    list-style: none;
    justify-content: center;

    &__item {
        padding: 0 20px;
    }

    &__item-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #151515;
        text-decoration: none;
        margin: 0 25px;
        padding: 10px;
    }
}
