.content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &__control {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}