.favorite {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    padding: 0 40px;
    align-self: flex-start;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;
    &__default-text {
        display: flex;
        justify-content: center;
        align-self: center;
    }
}