.header {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 45px;
    margin-bottom: 80px;
    box-shadow: -2px 2px 12px 1px #bdbaba;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    &__link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 30px;
        text-decoration: none;
        position: relative;
    }

    &__cart-icon {
        width: 20px;
        height: 20px;
    }

    &__favorite-icon {
        width: 17px;
        height: 17px;
        & > path {
            fill: #000;
            stroke: #000;
        }
    }

    &__count {
        font-size: 13px;
        color: #000;
        position: absolute;
        bottom: -2.5px;
        right: 22px;
    }
}