.posts {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 30%));
    justify-content: center;
    gap: 20px;
}

.post {
    background-color: #EAEAEA;
    border: 1px solid #000;
    padding: 15px 20px;
    border-radius: 15px;
    color: #3f3f3f;
    font-family: 'Montserrat', sans-serif;
}

.post__title {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 15px;
}

.post__text {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
}

.post__author {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
}

.post__author-email {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 30px;
}

.post__btn {
    background-color: #a1a1a1;
    font-size: 14px;
    color: #FFF;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}